# Ignore Terraform files and state
terraform/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore VCS
.git
.gitignore

# Ignore Python caches and virtualenvs
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
*.coverage
.coverage.*
.pytest_cache/
.venv/
env/
venv/

# Ignore IDE/editor files
*.swp
*.swo
*.DS_Store
*.idea/
.vscode/

# Ignore local environment files
.env
.env.*

# Ignore Python test files
tests/
test_*.py